* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;

    color: #fff;
    background: linear-gradient(to right, rgba(83,105, 118), rgba(41,46,73))
}