<%- include('../../Partials/header.ejs') %>
<%- include('../../Partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card mt-4">
            <div class="card-header">
                <h2>Login de Admin</h2>
            </div>
            <div class="card-body">
                <form action="/authenticate" method="POST">
                    <input name="email" type="email" placeholder="Digite seu email" class="form-control"><br>
                    <input type="password" name="password" placeholder="Digite sua senha" class="form-control"><br>
                    <button type="submit" class="btn btn-success btn-block"> Logar </button>
                </form>
            </div>
        </div>
    </div>
<%- include('../../Partials/footer.ejs') %>