.Card {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;
}

.Card .title {
    color: black;
    padding: 5px 0px;
    display: flex;
    justify-content: space-around;
}

.Card .Content {
    background: white;
    color: black;
    padding: 20px;
    flex: 1;
}