body {
    background: #222;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.8em;
}

h1, h2, h3 {
    font-weight: 200;
}

h2, h3 {
    padding-top: 1em;
    margin: 0
}