<%- include('./Partials/nav.ejs') %>
    <main class="main-section">
        <div class="title-main">
            <h2>Um app para você organizar o seu dinheiro de maneira fácil</h3>
            <h3>Todas as informações necessárias para facilitar a sua vida em um único lugar</h3>
            <a href="/useApp" class="btn-btnlink">Use nosso app agora mesmo!</a>
        </div>
        <img src="/img/imagem-png.webp" class="img-money">        
    </main>
    <section class="cards">
        <h2>Vantagens de usar nosso App</h2>
        <div class="cards-vantagens">
            <div class="card-vantagem">
                <img src="/img/cards-image.png" class="img-card">
                <h3>Lorem Ipsum</h3>
                <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
            </div>
            <div class="card-vantagem">
                <img src="/img/cards-image.png" class="img-card">
                <h3>Lorem Ipsum</h3>
                <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
            </div>
            <div class="card-vantagem">
                <img src="/img/cards-image.png" class="img-card">
                <h3>Lorem Ipsum</h3>
                <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
            </div>
        </div>
    </section>
</body>
</html>