<%- include('./Partials/nav.ejs') %>
<div class="form-dados">
    <form>
        <div class="campos-input">
            <label class="label">Informe seu nome: </label>
            <input type="text" placeholder="Digite seu nome:" name="campo-name" class="campo-form">
            <label class="label">Informe seu salário: </label>
            <input type="number" placeholder="Digite o valor do seu salário:" name="campo-salario" class="campo-form">
        </div>
        <button class="btn-new-aba">Gerar nova Dispesa</button>
        <button class="btn-new-aba">Gerar um investimento</button>
    </form>
</div>

<script type="text/Javascript" src="../js/renderDispesa.js"></script>
</body>
</html>