<%- include('./Partials/nav.ejs') %>
<div class="form-dados">
    <form method="POST" action="resultados">
        <div class="campos-input">
            <h3>Informe seu nome: </h3>
            <input type="text" placeholder="Digite seu nome:" name="camponame" class="campo-form">
            <h3>Informe seu salário: </h3>
            <input type="number" placeholder="Digite o valor do seu salário:" name="camposalario" class="campo-form">
        </div>
        <button class="btn-new-aba">Gerar nova Dispesa</button>
        <button class="btn-new-investimento">Salvar na Tabela</button>
    </form>
</div>

<script type="text/Javascript" src="../js/renderDispesa.js"></script>
<script type="text/Javascript" src="../js/renderInvestimento.js"></script>
</body>
</html>