<%- include('../../Partials/header.ejs') %>
<%- include('../../Partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Artigos:</h2>
    <a class="btn btn-success" href="/admin/articles/new"> Criar Novo Artigo </a> 
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID: </th>
                <th>Título: </th>
                <th>Slug: </th>
                <th>Category: </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<%- include('../../Partials/footer.ejs') %>
<script>
    // Mecanismo de segurança para apagar as Categorias
    function confirmarDelacao (event, form) {
        event.preventDefault();
        const decision = confirm("Você quer deletar essa categoria?");

        if (decision) {
            form.submit();
        }
    }
</script>