.divInput {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divInput Input {
    padding: 5px;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    border-color: white;
    box-shadow: 2px 2px 2px black;
    outline: 0;
}

.divInput Button {
    padding: 10px;
    margin: 10px;
    border: none;
    background: steelblue;
    border-radius: 10px;
    outline: 0;
}

.lista {
    list-style: none;
    text-align: center;
}

.lista li {
    padding: 5px;
}